In [49]:
#importing all the necessary libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [50]:
#pandas dataframe
df = pd.read_csv("./Data/career-data.csv")
df.head()

,Age,Gender,Educational Background,Extraversion,Agreeableness,Conscientiousness,Openness to Experience,Emotional Stability,Values/Beliefs,Aptitude Test,Personality,Career Outcome
0,16,Male,11th Class,70,75,80,85,70,75,85,dependable,Software Developer
1,15,Female,10th Class,75,80,85,75,70,80,90,serious,Data Scientist
2,16,Male,11th Class,70,75,80,85,70,75,72,responsible,UX Designer
3,15,Female,10th Class,75,80,85,75,70,80,78,extraverted,Financial Analyst
4,16,Male,11th Class,70,75,80,85,70,75,85,lively,Marketing Specialist

In [51]:
#making a copy
dataset = df.copy()

In [52]:
labelencoder = LabelEncoder()

In [53]:
#converting into categorical values
categorical_features = [feature for feature in dataset.columns if dataset[feature].dtype == 'O']
len(categorical_features)

4

In [54]:
for feature in categorical_features:
    dataset[feature] = labelencoder.fit_transform(dataset[feature])

dataset.head()

,Age,Gender,Educational Background,Extraversion,Agreeableness,Conscientiousness,Openness to Experience,Emotional Stability,Values/Beliefs,Aptitude Test,Personality,Career Outcome
0,16,1,1,70,75,80,85,70,75,85,0,46
1,15,0,0,75,80,85,75,70,80,90,4,14
2,16,1,1,70,75,80,85,70,75,72,3,52
3,15,0,0,75,80,85,75,70,80,78,1,20
4,16,1,1,70,75,80,85,70,75,85,2,34

In [55]:
# forming a separate list for all the categories of career choices
data = df.iloc[:90,:-1].values
label = df.iloc[:90,-1]

In [56]:
orignal=label.unique() 
label=label.values
label2 = labelencoder.fit_transform(label)
y=pd.DataFrame(label2,columns=["ROLE"])
numeric=y["ROLE"].unique() 
categorized_data = pd.DataFrame({'ROLE':orignal, 'Category':numeric})
print(categorized_data)

                                ROLE  Category
0                 Software Developer        46
1                     Data Scientist        14
2                        UX Designer        52
3                  Financial Analyst        20
4               Marketing Specialist        34
5            Human Resources Manager        26
6                    Product Manager        41
7                      Data Engineer        13
8                  Financial Planner        21
9           Administrative Assistant         0
10                 Marketing Manager        33
11                Research Scientist        45
12                  Graphic Designer        23
13                    Civil Engineer        10
14                Nurse Practitioner        36
15                Physical Therapist        38
16                              Chef         7
17                        Pharmacist        37
18                 Interior Designer        27
19           Environmental Scientist        17
20                      Psychologist        42
21                       Electrician        16
22                Aerospace Engineer         1
23                  Fashion Designer        19
24                      Veterinarian        53
25                 Investment Banker        29
26       Public Relations Specialist        44
27               Biomedical Engineer         6
28                  Dental Hygienist        15
29                     Event Planner        18
30                 Chemical Engineer         8
31                        Journalist        30
32                         Architect         2
33                      Art Director         3
34                  Technical Writer        51
35                           Chemist         9
36                     HR Consultant        24
37                       Logistician        31
38           Market Research Analyst        32
39               Physician Assistant        39
40                     Web Developer        54
41                      Data Analyst        12
42      Technical Support Specialist        50
43               Medical Illustrator        35
44          Healthcare Administrator        25
45              Supply Chain Manager        49
46                         Biologist         5
47  Artificial Intelligence Engineer         4
48             Public Health Analyst        43
49                      Statistician        48
50                   Software Tester        47
51             Clinical Psychologist        11
52                 Political Analyst        40
53                Forensic Scientist        22
54                Investment Analyst        28

In [57]:
categorized_data.set_index(["Category"], inplace = True)
categorized_data.sort_index(inplace = True)
categorized_data.head()

                                      ROLE
Category
0                 Administrative Assistant
1                       Aerospace Engineer
2                                Architect
3                             Art Director
4         Artificial Intelligence Engineer

In [62]:
#splitting data in
from sklearn.model_selection import train_test_split
x = dataset.drop(['Career Outcome'], axis = 1)
y = dataset['Career Outcome']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=10)

In [59]:
#model building
from sklearn.metrics import confusion_matrix,accuracy_score
from xgboost.sklearn import XGBClassifier
from sklearn import tree

In [60]:
def Dec_tree(X_train,y_train,X_test,y_test):
  clf = tree.DecisionTreeClassifier()
  clf = clf.fit(X_train, y_train)
  # Prediction
  y_pred = clf.predict(X_test)
  y_test_arr=y_test
  from sklearn.metrics import confusion_matrix,accuracy_score
  accuracy = accuracy_score(y_test,y_pred)
  print('Model accuracy score with Decision Tree', accuracy_score(y_test, y_pred)*100)
  return accuracy*100,clf

In [61]:
def xgboost(X_train,y_train,X_test,y_test,clf):
  #X_train,X_test,y_train,y_test=train_test_split(X1,y,test_size=0.3,random_state=10)
  shape = X_train.shape
  X_train=pd.to_numeric(X_train.values.flatten())
  X_train=X_train.reshape(shape)
  model = XGBClassifier()
  model.fit(X_train, y_train)
  xgb_y_pred  = clf.predict(X_test)
  xgb_accuracy = accuracy_score(y_test,xgb_y_pred)
  print("accuracy=",xgb_accuracy*100)
  return xgb_accuracy*100

In [65]:
acc1,clf = Dec_tree(X_train,y_train,X_test,y_test)

Model accuracy score with Decision Tree 7.4074074074074066

In [66]:
xgboost(X_train,y_train,X_test,y_test,clf)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45], got [ 0  1  2  4  5  6  7  8  9 10 11 13 14 15 17 18 19 20 21 22 23 26 27 29
 30 31 32 33 34 35 37 38 39 41 42 43 44 45 46 47 48 49 50 52 53 54]